<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <div app-test></div>
  <!-- Custom tag we created from the test component-->
  <h1> --Structure-- </h1>
  <div app-structure></div>
  <h1>-- Interaction --</h1>
  <app-interaction 
    (childEvent)="message=$event" 
    [parentData]="name"
    ></app-interaction>
    <h1>
      {{message}} <!-- This message gets replaced by the app-interaction code-->
    </h1>
    <h1>-- Pipes --</h1>
    <app-pipes></app-pipes>
    <h1>-- Services --</h1>
    <app-employeeList></app-employeeList>
    <app-employeeDetail></app-employeeDetail>
    <h1>-- WebGL --</h1>
    <app-webgl></app-webgl>
    <div>
      <h1 style="text-align: center">-- Routing and navigation --</h1>
      <nav>
        <!-- Router link active = CSS class applied to button when active -->
        <a routerLink="/departments" routerLinkActive="active">Departments</a>
        <a routerLink="/employees" routerLinkActive="active">Employees</a>
      </nav>
      <router-outlet></router-outlet>
    </div>
</div>
<!-- Router view goes here -->